@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px)


	/*PRODUCTION*/
	// img.production_img
	//   width: 167px
	//   height: 194px
	//
	// .production_figure
	//   width: 177px
	//   height: 282px
	//
	// .production_figcaption
	//   padding: 4px 0
	//
	// .production_figcaption span
	//   font-size: 12px
	//
	// .production_p--price
	//   margin-top: 10px
	//   font-size: 15px
	//
	// .news_img
  //   width: 220px
  //   height: 124px
	//
	// figcaption.news_figcaption
  //   text-align: center
  //   font-size: 13px
	//
	// .news_p--price
  //   font-size: 12px
	//
	// .news_p--data
  //   font-size: 12px
	//
	// a.news_a
  //   padding: 6px 26px 6px 23px
  //   font-size: 16px

	/*PARTNERS8/
	img.partners_img--second
    width: 148px
    height: 164px

	img.partners_img--third
    width: 143px

	img.partners_img--forth
    width: 158px

	img.partners_img--fifth
    width: 168px

	// img.partners_img--first
  //   width: 135px
  //   height: 135px
  //
	// img.partners_img--second
  //   width: 140px
  //   height: 140px
  //
	// img.partners_img--third
  //   width: 140px
  //   height: 140px
  //
	// img.partners_img--forth
  //   width: 140px
  //   height: 116px
  //
	// img.partners_img--fifth
  //   width: 144px
  //   height: 116px



	/*all*/
	// body
		// padding: 0 10px


	// article
  //   max-width: 1024px
	//
	// .main_products, .benefits
	// 	max-width: 800px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  	img.partners_img--first
      width: 135px
      height: 135px

  	img.partners_img--second
      width: 140px
      height: 140px

  	img.partners_img--third
      width: 140px
      height: 140px

  	img.partners_img--forth
      width: 140px
      height: 116px

  	img.partners_img--fifth
      width: 144px
      height: 116px




@media only screen and (max-width : 740px)

  .production_cover
    display: none




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .production_cover
    display: none

  .services_h2, .main_h2, .about_h2,
  .partners_h2, .partners_h2
    font-size: 18px

  .main_p, .about_p
    font-size: 14p

  header
   display: flex
   flex-direction: column
   margin: 20px 0 10px 0

  header
    align-items: center

  div#logo
    order: 1

  .header_conenction
    order: 3

  .header_contact
    order: 2

  .header_logo>a>img
    width: 205px
    height: 55px

  .header_p--phone
    font-size: 18px

  .header_p--mail
    font-size: 16px
    text-align: center

  .main_p--bottling, .main_p--cleaning, .main_p--cleaningDrains,
  .main_p--clearningAir, .main_p--equipment, .main_p--filters,
  .main_p--ozonizer, .main_p--systemClearning
    font-size: 16px
    width: 304px
    height: 77px

  .main_h2
   margin-bottom: 10px

  .services_h3
    font-size: 17px

  .service_p, .service_p--right
    font-size: 18px

  a.service_a
    background-color: #898989
    color: #fff
    padding: 13px 35px 12px 25px
    font-size: 18px

  a.child_child
    display: none



  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px)

    // body
    //   display: none


  /*==========  Mobile First  ==========*/

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px)

    // body
    //   display: none


  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px)

    /**/



  /* Small Devices, Tablets */
  @media only screen and (min-width : 740px)

    nav.nav_mobile
      display: none



  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px)

    // body.vsc-initialized
    //   display: none




  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px)
  	/**/


  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px)
  	/**/


  /*==========  iPad в landscape  ==========*/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)

  	.profileWrapper
      margin-top: -7%



  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)

  	.profileWrapper
      margin-top: -15%
